<!DOCTYPE html>
<html ng-app="chatApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Room</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/configuration.css" rel="stylesheet" />
	<link href="~/Content/conversation.css" rel="stylesheet" />
	@*<link href="~/Content/room_mobile.css" rel="stylesheet" />*@
	@*<link href="~/Content/room.css" rel="stylesheet" />*@
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
	<script src='http://localhost:47806/signalr/js'></script>
	  
</head>
<body>

	<header>
		<div ng-include="'app/views/shared/header.html'"></div>
	</header>

	<div class="container">
		<div id="ngView" ng-view ng-cloak></div>
	</div>

	<div ng-include="'app/views/shared/onlineUsers.html'"></div>

	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/angular/app")
	@Scripts.Render("~/bundles/angular/controllers")

</body>
</html>
