<!DOCTYPE html>
<html ng-app="chatApp">
@{
	//string serverUrl = "http://localhost:47806/signalr/js";
	string serverUrl = "http://localhost/chatServer/signalr/js";
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Room</title>
	<link href="~/Content/Site.css" rel="stylesheet" />
	<link href="~/Content/configuration.css" rel="stylesheet" />
	<link href="~/Content/conversation.css" rel="stylesheet" />
	<link href="~/Content/login.css" rel="stylesheet" />
	<link href="~/Content/onlineUsers.css" rel="stylesheet" />
	<link href="~/Content/room.css" rel="stylesheet" />
	<link href="~/Content/profile.css" rel="stylesheet" />
	<link href="~/Content/dialog.css" rel="stylesheet" />

	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
	<script src='@serverUrl'></script>

</head>
<body>

	<div ng-include="'app/views/shared/header.html'"></div>

	<div ng-include="'app/views/shared/chatUsers.html'"></div>

	<div class="container">
		<div id="ngView" ng-view ng-cloak></div>
	</div>

	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/angular/app")
	@Scripts.Render("~/bundles/angular/controllers")

</body>
</html>
