//@brandColor: #03511d;
//@brandColor: indigo;
@brandColor: #00b9f2;


@bodyColor: #fafcfc;
@onlineItemsColor: #f8f5f5;
@onlineItemHoverColor: #e8e4e4;
@chatBorderColor: @brandColor;
@chatItemColor: #e5e3e3;
@chatContentColor: #f1f1f1;

@openedItemtWidth: 230px;
@openedItemtHeight: 270px;
@openedItemHeaderFooterSize: 25px;
@closedItemsHeaderSize: 28px;
@userMessageBodyColor: lighten(gray,30%);
@userMessageBorderColor: darken(gray,30%);
@yourMessageBodyColor: #dbedfe;
@yourMessageBorderColor: darken(#dbedfe,40%);

.text {
	display: none;
}
