/*@brangcolor: #03511d;*/
.text {
  display: none;
}
.login-content {
  width: 900px;
  height: 300px;
  margin: 220px auto 0 auto;
}
.login-content .login {
  width: 270px;
  margin: 150px auto 10px auto;
  padding: 20px 10px;
  border: 1px solid #1e0351;
  border-radius: 3px;
  background-color: #fbfbfb;
}
.login-content .login .label {
  display: inline-block;
  float: left;
  height: 37px;
  font-size: 14px;
  margin-top: 2px;
}
.login-content .login .input {
  display: inline-block;
  float: right;
  height: 37px;
}
.login-content .login .input input {
  border: 1px solid #1e0351;
  border-radius: 3px;
  height: 24px;
  padding: 0 2px;
  font-size: 12px;
  width: 155px;
}
.login-content .login .button-content {
  float: right;
}
.login-content .login .button-content .btn {
  padding: 4px 3px;
  width: 70px;
  font-size: 11px;
  cursor: pointer;
  border: 1px solid #1e0351;
  border-radius: 2px;
  background-color: #e5e0e0;
}
.login-content .login .button-content .btn:active {
  background-color: #a5a5a5;
}
.login-content .error {
  width: 270px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #fc3434;
  background-color: #f89494;
  border-radius: 3px;
  text-align: center;
  color: red;
  font-size: 14px;
}
