.text {
  display: none;
}
.online-users {
  width: 180px;
  height: 100%;
  position: fixed;
  border-left: 1px solid #00b9f2;
  top: 45px;
  right: 0;
  background-color: #f8f5f5;
}
.online-users .online-user-item {
  width: 100%;
  margin-bottom: 1px;
  height: 32px;
  padding: 3px;
}
.online-users .online-user-item a {
  display: inline-block;
}
.online-users .online-user-item .user-fullname {
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}
.online-users .online-user-item .user-online {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background-image: url(images/Status-user-online-icon.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  -o-background-size: 8px 8px;
  -webkit-background-size: 8px 8px;
}
.online-users .online-user-item:hover {
  background-color: #e8e4e4;
  cursor: pointer;
}
.online-users .chat-settings {
  position: absolute;
  bottom: 45px;
  right: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid #00b9f2;
}
.online-users .chat-settings .setting {
  background-image: url(images/smiles/application_x_desktop.png);
  width: 16px;
  height: 16px;
  display: block;
  margin: 8px 3px 6px 3px;
  cursor: pointer;
}
.online-users .chat-settings .bubble {
  width: 174px;
  height: 100px;
  display: block;
  position: absolute !important;
  bottom: 40px;
  left: -15px;
  background-color: #f8f5f5;
  border: 1px solid #00b9f2;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.online-users .chat-settings .bubble:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -16px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 16px solid #00b9f2;
  border-right: 8px solid transparent;
}
.online-users .chat-settings .bubble:after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 17px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-top: 14px solid #f8f5f5;
  border-right: 7px solid transparent;
}
.online-users .chat-settings .bubble .overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: none;
}
.online-users .chat-settings .bubble .menu {
  width: 100%;
}
.online-users .chat-settings .bubble .menu .setting-menu-item {
  height: 15px;
  margin-bottom: 2px;
  font-size: 12px;
  padding: 3px;
}
.online-users .chat-settings .bubble .menu .setting-menu-item:hover {
  background-color: #e8e4e4;
  cursor: pointer;
}
.online-users .chat-settings .bubble .menu .setting-menu-item:active {
  background-color: #d1c8c8;
}
.dock {
  position: absolute;
  bottom: 0;
  right: 182px;
}
.dock .item {
  width: 170px;
  margin-left: 4px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  border: 1px solid #00b9f2;
  border-bottom: none;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
}
.dock .item:last-child {
  margin-right: 5px;
}
.dock .item .header {
  height: 28px;
}
.dock .item .header .user-fullname {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  width: 135px;
}
.dock .item .header .closer {
  display: none;
  float: right;
  margin: 9px 5px 3px 3px;
  background-size: 12px 12px;
  -moz-background-size: 12px 12px;
  -o-background-size: 12px 12px;
  -webkit-background-size: 12px 12px;
  width: 12px;
  height: 12px;
  position: relative;
}
.dock .item .header .closer:hover {
  cursor: pointer;
}
.dock .item .header .closer:hover:after {
  background-color: #001d26;
}
.dock .item .header .closer:hover:before {
  background-color: #001d26;
}
.dock .item .header .closer:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #004459;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
}
.dock .item .header .closer:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #004459;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
}
.dock .item .header:hover {
  cursor: pointer;
}
.dock .item .header:hover .closer {
  display: inline-block;
}
.dock .item .content .header {
  height: 27px;
  background-color: #00b9f2;
}
.dock .item .content .header .user-fullname {
  line-height: 27px;
  color: white;
  font-size: 12px;
  margin: 0 5px;
  display: inline-block;
  width: 190px;
}
.dock .item .content .header .closer-Header {
  display: inline-block;
  float: right;
  margin: 7px 5px 3px 3px;
  background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  -webkit-background-size: 14px 14px;
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.dock .item .content .header .closer-Header:hover {
  cursor: pointer;
}
.dock .item .content .header .closer-Header:hover:after {
  background-color: #001d26;
}
.dock .item .content .header .closer-Header:hover:before {
  background-color: #001d26;
}
.dock .item .content .header .closer-Header:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #004459;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
}
.dock .item .content .header .closer-Header:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #004459;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 5px;
}
.dock .item .content .body {
  height: 214px;
  width: 230px;
  border-bottom: 1px solid #00b9f2;
  overflow-y: auto;
}
.dock .item .content .body .message-item {
  margin-top: 5px;
  height: 20px;
  padding: 5px;
  clear: both;
}
.dock .item .content .body .message-item a {
  display: inline-block;
  float: left;
}
.dock .item .content .body .message-item a img {
  height: 20px;
  width: 20px;
  border: 1px solid #00b9f2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.dock .item .content .body .message-item .comment {
  max-width: 160px;
  position: relative;
  font-size: 12px;
  border: 1px solid #00b9f2;
  padding: 1px 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  line-height: 20px;
}
.dock .item .content .body .message-item .usermessage {
  float: left;
  margin-left: 10px;
  background-color: #cdcdcd;
  border: 1px solid #343434;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.dock .item .content .body .message-item .usermessage:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 8px solid #343434;
  border-bottom: 4px solid transparent;
}
.dock .item .content .body .message-item .usermessage:after {
  content: "";
  position: absolute;
  left: -6px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 6px solid #cdcdcd;
  border-bottom: 3px solid transparent;
}
.dock .item .content .body .message-item .yourmessage {
  float: right;
  margin-right: 8px;
  background-color: #dbedfe;
  border: 1px solid #158af8;
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.dock .item .content .body .message-item .yourmessage:before {
  content: "";
  position: absolute;
  right: -8px;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #158af8;
  border-bottom: 4px solid transparent;
}
.dock .item .content .body .message-item .yourmessage:after {
  content: "";
  position: absolute;
  right: -6px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 6px solid #dbedfe;
  border-bottom: 3px solid transparent;
}
.dock .item .content .footer {
  vertical-align: bottom;
  width: 226px;
  height: 25px;
  margin: 0 auto;
}
.dock .item .content .footer form {
  height: 100%;
  width: 100%;
}
.dock .item .content .footer form input[type="text"] {
  outline: none;
  border: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 12px;
}
.dock .item-open {
  height: 270px;
  width: 230px;
}
.dock .more-items {
  width: 35px;
  height: 19px;
  padding: 3px;
  cursor: pointer;
  background-image: url(images/internet_group_chat.png);
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 3px;
  position: relative;
  background-color: white;
}
.dock .more-items span {
  color: #1a1a1a;
  font-weight: bold;
  font-size: smaller;
  width: 20px;
  display: block;
  margin: 1px 0 0 25px;
}
.dock .more-items .hidden {
  display: none;
}
.dock .more-items .closed-items {
  width: 200px;
  height: 90px;
  border: 1px solid #00b9f2;
  background-color: white;
  position: relative;
  bottom: 112px;
  left: -4px;
  z-index: 10;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
.dock .more-items .semi-line {
  width: 41px;
  height: 1px;
  background-color: white;
  position: relative;
  left: -3px;
  bottom: 113px;
  z-index: 11;
}
