@import 'configuration.less';
@import 'mixins.less';

@openedItemtWidth: 230px;
@openedItemtHeight: 270px;
@openedItemHeaderFooterSize: 25px;
@closedItemsHeaderSize: 28px;

.online-users {
	width: 180px;
	height: 100%;
	position: fixed;
	border-left: 1px solid @brandColor;
	top: 45px;
	right: 0;
	background-color: @onlineItemsColor;

	.online-user-item {
		width: 100%;
		margin-bottom: 1px;
		height: 32px;
		padding: 3px;

		a {
			display: inline-block;
		}

		.user-fullname {
			display: inline-block;
			font-size: 12px;
			height: 32px;
			line-height: 32px;
			vertical-align: top;
		}

		.user-online {
			display: inline-block;
			float: right;
			margin-right: 10px;
			margin-top: 10px;
			background-image: url(images/Status-user-online-icon.png);
			background-repeat: no-repeat;
			width: 10px;
			height: 10px;
			.backgroundSize(8px);
		}

		&:hover {
			background-color: @onlineItemHoverColor;
			cursor: pointer;
		}
	}
}

.dock {
	position: absolute;
	bottom: 0;
	right: 182px;

	.item {
		width: 170px;
		margin-left: 1px;
		display: inline-block;
		position: relative;
		vertical-align: bottom;
		border: 1px solid gray;
		border-bottom: none;
		.radiuses(3px,3px,0,0);
		background-color: lighten(@bodyColor,20%);

		&:last-child {
			margin-right: 5px;
		}

		.header {
			height: @closedItemsHeaderSize;

			.user-fullname {
				height: @closedItemsHeaderSize;
				line-height: @closedItemsHeaderSize;
				font-size: 12px;
				margin: 0 5px;
				cursor: pointer;
			}
		}

		.content {
			.header {
				height: @openedItemHeaderFooterSize + 2px;
				background-color: @brandColor;

				.user-fullname {
					line-height: @openedItemHeaderFooterSize + 2px;
					color: white;
					font-size: 12px;
					margin: 0 5px;
				}
			}

			.body {
				height: @openedItemtHeight - ((2 * @openedItemHeaderFooterSize) + 6px);
				width: @openedItemtWidth;
				border-bottom: 1px solid gray;
				overflow-y: auto;

				.message-item {
					padding: 5px;

					a {
						display: inline-block;

						img {
							height: 20px;
							width: 20px;
							border: 1px solid gray;
							.radius(3px);
						}
					}

					.comment {
						display: inline-block;
						line-height: 19px;
						font-size: 12px;
						max-width: 170px;
						vertical-align: top;
						border: 1px solid @brandColor;
						padding: 1px 3px;
						position: relative;
						.radius(3px);
					}

					.he {
						margin-left: 5px;

						&:before {
							content: "";
							position: absolute;
							left: -8px;
							top: 5px;
							width: 0;
							height: 0;
							border-top: 5px solid transparent;
							border-right: 8px solid @brandColor;
							border-bottom: 5px solid transparent;
						}

						&:after {
							content: "";
							position: absolute;
							left: -6px;
							top: 5px;
							width: 0;
							height: 0;
							border-top: 5px solid transparent;
							border-right: 8px solid white;
							border-bottom: 5px solid transparent;
						}
					}

					.you {
						float: right;
						margin-right: 5px;
						background-color: lighten(blue,40%);

						&:before {
							content: "";
							position: absolute;
							right: -9px;
							top: 4px;
							width: 0;
							height: 0;
							border-top: 5px solid transparent;
							border-left: 9px solid @brandColor;
							border-bottom: 5px solid transparent;
						}

						&:after {
							content: "";
							position: absolute;
							right: -7px;
							top: 4px;
							width: 0;
							height: 0;
							border-top: 5px solid transparent;
							border-left: 8px solid lighten(blue,40%);
							border-bottom: 5px solid transparent;
						}
					}
				}

				.you {
					background-color: lighten(blue,40%);
					float: right;
				}
			}

			.footer {
				vertical-align: bottom;
				width: @openedItemtWidth - 4px;
				height: @openedItemHeaderFooterSize;
				background-color: red;
				margin: 0 auto;


				input[type="text"] {
					outline: none;
					border: none;
					text-decoration: none;
					height: 100%;
					width: 100%;
					font-size: 12px;
				}
			}
		}
	}

	.item-open {
		height: @openedItemtHeight;
		width: @openedItemtWidth;
	}
}
