/*@brandColor: #03511d;*/
.text {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8f5f5;
  font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;
}
body #loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgba(0, 0, 0, 0.8) url("images/loading.gif") center center no-repeat;
  z-index: 99999999;
  border-radius: 5px;
}
body header {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1e0351;
}
body header div {
  width: 1110px;
  margin: 0 auto;
  line-height: 45px;
}
body header div .logo {
  display: inline-block;
  width: 165px;
  float: left;
}
body header div ul.menu {
  height: 45px;
  line-height: 45px;
  margin-top: 0;
  width: 1100px;
  /*width: 200px;
				display: inline-block;
				margin-left: 3px;
				height: 45px;
				vertical-align: middle;*/
  /*a {
					display: inline-block;

					
				}

				div {
					display: inline-block;
				}*/
}
body header div ul.menu li {
  display: inline-block;
  margin-right: 5px;
  line-height: 45px;
  color: white;
  font-size: 12px;
  vertical-align: middle;
}
body header div ul.menu li:last-child {
  float: right;
}
body header div ul.menu li:last-child a {
  text-decoration: none;
  color: white;
}
body header div ul.menu li a img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 22px;
  height: 22px;
  margin-top: 12px;
}
body .container {
  /*width: 910px;
		min-height: 500px;
		margin: 50px auto;
		padding-right: 200px;*/
}
body .clearfix {
  clear: both;
}
