@import 'configuration.less';
@import 'mixins.less';

body {
	margin: 0;
	padding: 0;
	background-color: @bodyColor;
	font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;

	#loading {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
		background: rgba(0,0,0,0.8) url("images/loading.gif") center center no-repeat;
		z-index: 99999999;
		border-radius: 5px;
		//.border-radius(5px);
	}

	header {
		height: 45px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: @brandColor;

		div {
			width: 1110px;
			margin: 0 auto;
			line-height: 45px;

			.logo {
				display: inline-block;
				width: 165px;
				float: left;
			}

			.menu {
				width: 200px;
				display: inline-block;
				margin-left: 3px;
				height: 45px;
				vertical-align: middle;

				a {
					display: inline-block;

					img {
						.radius(3px);
						width: 22px;
						height: 22px;
						margin-top: 10px;
					}
				}

				div {
					display: inline-block;
				}
			}
		}
	}

	.container {
		width: 910px;
		min-height: 500px;
		margin: 50px auto;
		padding-right: 200px;
	}

	.online-users {
		width: 180px;
		height: 100%;
		position: fixed;
		border-left: 1px solid @brandColor;
		top: 45px;
		right: 0;
		background-color: @onlineItemsColor;

		.online-user-item {
			width: 100%;
			margin-bottom: 1px;
			height: 32px;
			padding: 3px;

			a {
				display: inline-block;
			}

			.user-fullname {
				display: inline-block;
				font-size: 12px;
				height: 32px;
				line-height: 32px;
				vertical-align: top;
			}

			.user-online {
				display: inline-block;
				float: right;
				margin-right: 10px;
				margin-top: 10px;
				background-image: url(images/Status-user-online-icon.png);
				background-repeat: no-repeat;
				width: 10px;
				height: 10px;
				.backgroundSize(8px);
			}

			&:hover {
				background-color: @onlineItemHoverColor;
				cursor: pointer;
			}
		}
	}

	.clearfix {
		clear: both;
	}
}
