.text {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafcfc;
  font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;
}
body #loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgba(0, 0, 0, 0.8) url("images/loading.gif") center center no-repeat;
  z-index: 99999999;
  border-radius: 5px;
}
body header {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #00b9f2;
}
body header div {
  width: 1000px;
  margin: 0 auto;
  line-height: 45px;
}
body header div .logo {
  display: inline-block;
  width: 40px;
  float: left;
}
body header div .logo a {
  margin-top: 5px;
  display: block;
}
body header div ul {
  height: 45px;
  line-height: 45px;
  margin: 0;
}
body header div ul li {
  display: inline-block;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 1px;
}
body header div ul.left {
  width: 250px;
  float: left;
}
body header div ul.left li a {
  display: inline-block;
}
body header div ul.left li a img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 22px;
  height: 22px;
  margin-top: 12px;
}
body header div ul.left li span {
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
  margin: -12px 0 0 5px;
  font-weight: bold;
}
body header div ul.right {
  width: 320px;
  float: right;
}
body header div ul.right li {
  margin-left: 5px;
  width: 50px;
}
body header div ul.right li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body header div ul.right li a:hover {
  color: #cccccc;
}
body header div ul.right li:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #00ade3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 22px;
  margin-left: 2px;
}
body header div ul.right li:last-child {
  float: right;
  margin-right: 5px;
}
body header div ul.right li:last-child:after {
  display: none;
}
body header div ul.right li.noStick:after {
  display: none;
}
body .container {
  padding: 5px;
  width: 950px;
  margin: 0 auto;
  margin-top: 50px;
  /*----------------*/
  /*width: 910px;
		min-height: 500px;
		margin: 50px auto;
		padding-right: 200px;*/
}
body .clearfix {
  clear: both;
}
