@import 'configuration.less';

body {
	margin: 0;
	padding: 0;
	background-color: @bodyColor;
	font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;

	#loading {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
		background: rgba(0,0,0,0.8) url("images/loading.gif") center center no-repeat;
		z-index: 99999999;
		border-radius: 5px;
		//.border-radius(5px);
	}

	header {
		height: 45px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: @brangColor;

		section {
			width: 900px;
			height: 39px;
			margin: 0 auto;
			padding: 3px;

			div {
				float: right;
				color: white;
				font-size: 12px;
				font-weight: bold;
				margin-top: 10px;

				a {
					display: inline-block;
					text-decoration: none;
					color: white;
					font-size: 12px;
					font-weight: bold;
					margin-left: 10px;
				}
			}
		}
	}

	.content {
		border-top: 1px solid @brangColor;
		width: 900px;
		margin: 50px auto;
	}

	.online-users {
		width: 180px;
		height: 100%;
		position: fixed;
		border-left: 1px solid @brangColor;
		top: 45px;
		right: 0;
		background-color: @onlineItemsColor;

		.online-user-item {
			width: 100%;
			margin-bottom: 1px;
			height: 36px;
			padding: 2px;

			a {
			}

			div {
				display: inline-block;
				font-size: small;
				vertical-align: middle;
			}

			&:hover {
				background-color: @onlineItemHoverColor;
				cursor: pointer;
			}
		}
	}

	.clearfix {
		clear: both;
	}
}
