/*@brangcolor: #03511d;*/
.text {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8f5f5;
  font-family: 'Open Sans', Helvetica, "Lucida Grande", sans-serif;
}
body #loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgba(0, 0, 0, 0.8) url("images/loading.gif") center center no-repeat;
  z-index: 99999999;
  border-radius: 5px;
}
body header {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1e0351;
}
body header section {
  width: 900px;
  height: 39px;
  margin: 0 auto;
  padding: 3px;
}
body header section div {
  float: right;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}
body header section div a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}
body .container {
  width: 910px;
  min-height: 500px;
  margin: 50px auto;
  padding-right: 200px;
}
body .online-users {
  width: 180px;
  height: 100%;
  position: fixed;
  border-left: 1px solid #1e0351;
  top: 45px;
  right: 0;
  background-color: #f8f5f5;
}
body .online-users .online-user-item {
  width: 100%;
  margin-bottom: 1px;
  height: 32px;
  padding: 3px;
}
body .online-users .online-user-item a {
  display: inline-block;
}
body .online-users .online-user-item div {
  display: inline-block;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}
body .online-users .online-user-item:hover {
  background-color: #e8e4e4;
  cursor: pointer;
}
body .clearfix {
  clear: both;
}
