<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ChatRoomEntityContext" connectionString="server=localhost;database=chatroom;uid=root;pwd=saxiashvili1990;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
  <add name="ChatRoomMongoContext" connectionString="mongodb://localhost/ChatRoom"/>
</connectionStrings>