<div ng-controller="headerController" ng-show="showHeader()">
	<div class="logo">
		...
	</div>

	<ul class="menu">
		<li>
			<a href="#/profile">
				<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c14.0.47.47/s32x32/252231_1002029915278_1941483569_t.jpg" />
			</a>
		</li>

		<li>Welcome : {{username}}</li>

		<li>Your Token is >>>>>> <span style="font-weight:bold;" id="connectionID"></span></li>

		<li><a href="#/logout">Logout</a></li>

	</ul>
</div>

<div class="clearfix"></div>