<div ng-controller="headerController" ng-show="session.isAuthenticated" ng-cloak>
	<div class="logo">
		<a href="#">
			<img src="../../../Content/images/speech-balloon-green-c-icon.png" alt="chat_icon" />
		</a>
	</div>

	<ul class="left">
		<li>
			<a href="#/profile">
				<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c14.0.47.47/s32x32/252231_1002029915278_1941483569_t.jpg" />
			</a>
			<span>{{ session.user.username }}</span>
		</li>
	</ul>

	<ul class="right">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#/profile">Profile</a>
		</li>
		<li class="noStick">
			<a href="#/profile">Settings</a>
		</li>
		<li>
			<a href="#/logout">Logout</a>
		</li>
	</ul>
</div>

<div class="clearfix"></div>