<div class="online-users">
	<div class="online-user-item">
		<a>
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c14.0.47.47/s32x32/252231_1002029915278_1941483569_t.jpg" />
		</a>
		<!--<div>

		</div>-->
	</div>
	<div class="online-user-item">
		<a>
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c14.0.47.47/s32x32/252231_1002029915278_1941483569_t.jpg" />
		</a>
		<!--<div>

		</div>-->
	</div>
	<div class="online-user-item">
		<a>
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/t1.0-1/c14.0.47.47/s32x32/252231_1002029915278_1941483569_t.jpg" />
		</a>
		<!--<div>

		</div>-->
	</div>

</div>